<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userFeedBack">

	<resultMap type="java.util.HashMap" id="countMap">
		<result property="totalCount" column="totalCount" />
	</resultMap>

	<resultMap type="java.util.HashMap" id="userFeedBackMap">
		<result property="id" column="id" />
		<result property="userid" column="userId" />
		<result property="content" column="content" />
		<result property="createtime" column="createTime" />
	</resultMap>

	<!-- 插入反馈意见 -->
	<insert id="insertUserFeedBack" parameterType="com.app.user.bean.UserFeedBackBean">
		insert into user(id, userid, content, createtime)
		      values(#{id}, #{userId},  #{content}, #{createtime}) 
	</insert>
	
</mapper>