<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<resultMap type="java.util.HashMap" id="countMap">
		<result property="totalCount" column="totalCount" />
	</resultMap>

	<resultMap type="java.util.HashMap" id="userMap">
		<result property="account" column="account" />
		<result property="password" column="password" />
		<result property="totalcredit" column="totalCredit"/>
		<result property="pendcredit" column="pendCredit"/>
		<result property="zfbaccount" column="zfbAccount"/>
		<result property="telaccount" column="telAccount"/>
		<result property="qqaccount" column="qqAccount"/>
		<result property="linkid" column="linkId"/>
		<result property="imei" column="imei"/>
		<result property="state" column="state"/>
		<result property="createtime" column="createTime" />
	</resultMap>

    <!--根据条件账号信息  -->
	<select id="retrieveUserInfo" parameterType="map" resultMap="userMap">
						select e.account       as account,
		                       e.password      as password,
		                       e.totalcredit   as totalCredit,
		                       e.pendcredit    as pendCredit,
		                       e.zfbaccount    as zfbAccount,
		                       e.telaccount    as telAccount,
		                       e.qqaccount     as qqAccount,
		                       e.linkid        as linkId,
		                       e.imei          as imei,
		                       e.state		   as state,
		                       e.createtime    as createTime
		                  from user e
		                 where 1=1
		                 <if test="account != null">
		                 	and e.account = #{account}
		                 </if>
		                 <if test="imei != null">
		                 	and e.imei = #{imei}
		                 </if>  
		                 <if test="password != null">
						   and e.password = #{password}
						 </if>
	</select>
	

	<!-- 插入一个新用户 -->
	<insert id="insertUser" parameterType="com.app.user.bean.UserBean">
		insert into user(account, password, totalcredit, linkid, imei, createtime)
		      values(#{account},  #{password}, #{totalCredit},#{linkId}, #{imei},#{createTime}) 
	</insert>
	
	<!-- 修改用户信息 -->
	<update id="updateUserInfo" parameterType="map">
		update user
		   set createtime=#{createTime}
		   <if test="zfbAccount != null">
		   	   ,zfbaccount = #{zfbAccount}
		   </if>
		   
		   <if test="telAccount != null">
		   	   ,telaccount = #{telAccount}
		   </if>
		   
		   <if test="qqAccount != null">
		   	   ,qqaccount = #{qqAccount}
		   </if>
		   
		   <if test="state != null">
		   	   ,state = #{state}
		   </if>
		 where account = #{account}
	</update>
</mapper>